---
import AspectBox from "@/components/AspectBox.astro";
import { EDITORS_CHOICE } from "@/consts";
import { getPostsBySlugs } from "@/plugins/utils";

const posts = await getPostsBySlugs(EDITORS_CHOICE);
---

<div class="EditorsChoice">
  <div class="part-title uppercase">Editor's Choice</div>
  <div class="mt-4 bg-white rounded p-4 shadow">
    {
      posts.map((item, index) => (
        <div class={`post-card ${index > 0 && "mt-4"} border-b`}>
          {item.data.cover && (
            <div class="mb-2">
              <AspectBox
                aspectRatio={3 / 1.6}
                src={item.data.cover}
                href={`/posts/${item.slug}/`}
              />
            </div>
          )}
          <div class="post-texts">
            <a
              class="font-medium text-sm text-a1 hover-gray"
              href={`/posts/${item.slug}/`}
            >
              {item.data.title}
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .post-cover {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    @apply rounded;
  }
  .post-texts {
  }
</style>
