---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";
import PostsList from "@/parts/PostsList.astro";
import { mdiArrowRight } from "@mdi/js";
import Icon from "@/components/Icon.astro";
import HomeCarousel from "@/parts/HomeCarousel.astro";

const posts = (await getCollection("posts"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 10);
---

<BaseLayout htmlTitle={SITE_TITLE} htmlDescription={SITE_DESCRIPTION}>
  <div slot="main-body-top" class="mb-8">
    <HomeCarousel />
  </div>
  <div class="part-title uppercase">Latest Posts</div>
  <div class="mt-4">
    <PostsList posts={posts} />
  </div>
  <div class="mt-8 text-center">
    <a class="inline-flex items-center text-xl" href="/posts"
      >All Posts
      <Icon class="ml-3 relative top-px" path={mdiArrowRight} size={26} />
    </a>
  </div>
</BaseLayout>
