---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";
import PostsList from "@/parts/PostsList.astro";
import { mdiArrowRight } from "@mdi/js";
import Icon from "@/components/Icon.astro";

const posts = (await getCollection("posts"))
  .slice(0, 10)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout htmlTitle={SITE_TITLE} htmlDescription={SITE_DESCRIPTION}>
  <div class="part-title uppercase">Latest Posts</div>
  <div class="mt-4">
    <PostsList posts={posts} />
  </div>
  <div class="mt-4 text-center">
    <a class="inline-flex items-center" href="/posts"
      >All Posts
      <Icon class="ml-3 relative top-px" path={mdiArrowRight} size={22} />
    </a>
  </div>
</BaseLayout>
