---
import BackTop from "@/components/BackTop.astro";
import EditorsChoice from "@/parts/EditorsChoice.astro";
import MainFooter from "@/parts/MainFooter.astro";
import MainHeader from "@/parts/MainHeader.astro";
import BaseHTMLLayout from "./BaseHTMLLayout.astro";

type Props = {
  htmlTitle: string;
  htmlDescription: string;
  image?: string;
  sidebar?: boolean;
};
const { htmlTitle, htmlDescription, image } = Astro.props;
let { sidebar } = Astro.props;
if (sidebar == null) {
  sidebar = true;
}
---

<BaseHTMLLayout
  htmlTitle={htmlTitle}
  htmlDescription={htmlDescription}
  image={image}
>
  <style slot="head" is:global>
    body {
      background-color: rgb(238, 238, 238);
    }
  </style>
  <MainHeader />
  <slot name="main-body">
    <div class={`main-body container mx-auto mt-8`}>
      <slot name="main-body-top" />
      <div class="flex max-md:flex-wrap max-md:px-4">
        <div class="main-content flex-grow">
          <slot />
        </div>
        {
          sidebar && (
            <div class="main-sidebar w-80 ml-5 flex-shrink-0 max-md:ml-0 max-md:w-full max-md:mt-4">
              <EditorsChoice />
            </div>
          )
        }
      </div>
    </div>
    <style>
      .main-body {
      }
    </style>
  </slot>
  <MainFooter />
  <BackTop />
  <style is:global>
    body {
      background-image: url("/assets/img/bg.png");
      background-size: 180px;
    }
    .container {
      max-width: 1100px;
    }
    @media (max-width: 1150px) {
      .container {
        max-width: 1000px;
      }
    }
    @media (max-width: 1050px) {
      .container {
        max-width: 900px;
      }
    }
    .part-title {
      @apply text-xl font-medium text-a1;
    }
    .hover-gray:hover {
      @apply text-gray-500;
    }
  </style>
</BaseHTMLLayout>
