---
import BaseLayout from "./BaseLayout.astro";

let { frontmatter } = Astro.props;
---

<BaseLayout
  htmlTitle={frontmatter.title}
  htmlDescription={frontmatter.description}
  image={frontmatter.image}
  sidebar={frontmatter.sidebar}
>
  <div class="prose max-w-none prose-img:rounded bg-white p-4 shadow">
    <slot />
  </div>
</BaseLayout>
