---
import BackTop from "@/components/BackTop.astro";
import EditorsPicks from "@/parts/EditorsPicks.astro";
import MainFooter from "@/parts/MainFooter.astro";
import MainHeader from "@/parts/MainHeader.astro";
import BaseHTMLLayout from "./BaseHTMLLayout.astro";
import { css } from "@/plugins/utils";

type Props = { htmlTitle: string; htmlDescription: string; sidebar?: boolean };
const { htmlTitle, htmlDescription } = Astro.props;
let { sidebar } = Astro.props;
if (sidebar == null) {
  sidebar = true;
}
---

<BaseHTMLLayout htmlTitle={htmlTitle} htmlDescription={htmlDescription}>
  <style slot="head" is:global>
    body {
      background-color: rgb(238, 238, 238);
    }
  </style>
  <MainHeader />
  <slot name="main-body">
    <div
      class={`main-body container mx-auto mt-8 ${css(
        !sidebar && "main-body--no-sidebar"
      )}`}
    >
      <div class="main-content">
        <slot />
      </div>
      {
        sidebar && (
          <div class="main-sidebar w-80 ml-5">
            <EditorsPicks />
          </div>
        )
      }
    </div>
    <style>
      .main-body {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 20px;
      }
      .main-body--no-sidebar {
        grid-template-columns: 1fr;
      }
    </style>
  </slot>
  <MainFooter />
  <BackTop />
  <style is:global>
    body {
      background-image: url("/assets/img/bg.png");
      background-size: 180px;
    }
    .container {
      max-width: 1000px;
    }
    .part-title {
      @apply text-xl font-medium text-a1;
    }
    .hover-grey:hover {
      @apply text-gray-500;
    }
  </style>
</BaseHTMLLayout>
